RESTART_POLICY=always
SONARQUBE_PORT=9000
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
POSTGRES_DB=sonarqube
SONARQUBE_CPUS_LIMIT=2
SONARQUBE_MEMORY_LIMIT=2G
SONARQUBE_CPUS_RESERVED=1
SONARQUBE_MEMORY_RESERVED=1G
