.env
.env.local
.env.*.local

**/data/
**/postgres_data/
**/mysql_data/
**/mongodb_data/
**/rabbitmq_data/
**/redis_data/
**/sonarqube_conf/
**/sonarqube_data/
**/sonarqube_extensions/
**/sonarqube_logs/
**/sonarqube_temp/
**/minio_data/
**/redisinsight_data/
**/gitea_data/
**/act_runner_data/
**/jenkins_home/

.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

traefik/certs/server.crt
traefik/certs/server.key

**/server.crt
**/server.key

# Python
__pycache__/
*.py[cod]
*$py.class
