RESTART_POLICY=always
GITEA_SSH_PORT=2222
GITEA_HTTP_PORT=3000
GITEA_DB_NAME=gitea
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
GITEA_CPUS_LIMIT=1
GITEA_MEMORY_LIMIT=1G
GITEA_CPUS_RESERVED=0.5
GITEA_MEMORY_RESERVED=512M
