RESTART_POLICY=always
CENTRIFUGO_PORT=8010
CENTRIFUGO_API_KEY=password102
CENTRIFUGO_ALLOWED_ORIGINS=*
CENTRIFUGO_CPUS_LIMIT=0.25
CENTRIFUGO_MEMORY_LIMIT=64M
CENTRIFUGO_CPUS_RESERVED=0.05
CENTRIFUGO_MEMORY_RESERVED=16M
