RESTART_POLICY=always
GITEA_INSTANCE_URL=http://gitea:3000
GITEA_RUNNER_TOKEN=
GITEA_RUNNER_NAME=act-runner
ACT_RUNNER_CPUS_LIMIT=2
ACT_RUNNER_MEMORY_LIMIT=2G
ACT_RUNNER_CPUS_RESERVED=1
ACT_RUNNER_MEMORY_RESERVED=1G
