RESTART_POLICY=unless-stopped
GITEA_INSTANCE_URL=http://gitea:3000
GITEA_RUNNER_TOKEN=
GITEA_RUNNER_NAME=act-runner
ACT_RUNNER_CPUS_LIMIT=1
ACT_RUNNER_MEMORY_LIMIT=1G
ACT_RUNNER_CPUS_RESERVED=0.25
ACT_RUNNER_MEMORY_RESERVED=256M
