RESTART_POLICY=always
GITEA_INSTANCE_URL=http://gitea:3000
GITEA_RUNNER_TOKEN=
GITEA_RUNNER_NAME=act-runner
ACT_RUNNER_CPUS_LIMIT=0.5
ACT_RUNNER_MEMORY_LIMIT=512M
ACT_RUNNER_CPUS_RESERVED=0.1
ACT_RUNNER_MEMORY_RESERVED=128M
