RESTART_POLICY=unless-stopped
JENKINS_AGENT_PORT=50000
TZ=Asia/Ho_Chi_Minh
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
JENKINS_DB_NAME=jenkins
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password102!
JENKINS_CPUS_LIMIT=1
JENKINS_MEMORY_LIMIT=2G
JENKINS_CPUS_RESERVED=0.25
JENKINS_MEMORY_RESERVED=512M
