RESTART_POLICY=always
JENKINS_PORT=8090
JENKINS_AGENT_PORT=50000
TZ=Asia/Ho_Chi_Minh
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
JENKINS_DB_NAME=jenkins
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
