RESTART_POLICY=always
JENKINS_PORT=8090
JENKINS_AGENT_PORT=50000
TZ=Asia/Ho_Chi_Minh
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432
JENKINS_DB_NAME=jenkins
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
JENKINS_CPUS_LIMIT=0.5
JENKINS_MEMORY_LIMIT=512M
JENKINS_CPUS_RESERVED=0.1
JENKINS_MEMORY_RESERVED=128M
