# OTel Collector
OTEL_COLLECTOR_PORT_GRPC=4317
OTEL_COLLECTOR_PORT_HTTP=4318
OTEL_COLLECTOR_MEM_LIMIT=128M
OTEL_COLLECTOR_CPU_LIMIT=0.1

# Jaeger
JAEGER_PORT=16686
JAEGER_MEM_LIMIT=512M
JAEGER_CPU_LIMIT=0.2

# Prometheus
PROMETHEUS_PORT=9090
PROMETHEUS_MEM_LIMIT=256M
PROMETHEUS_CPU_LIMIT=0.1
