RESTART_POLICY=always
MARIADB_DATABASE=app
MARIADB_USER=appuser
MARIADB_PASSWORD=password102
MARIADB_ROOT_PASSWORD=password102
MARIADB_PORT=3307
TZ=Asia/Ho_Chi_Minh
MARIADB_CPUS_LIMIT=0.5
MARIADB_MEMORY_LIMIT=512M
MARIADB_CPUS_RESERVED=0.1
MARIADB_MEMORY_RESERVED=128M
