RESTART_POLICY=always
CONCOURSE_PORT=8070
CONCOURSE_HOST=concourse.localhost
CONCOURSE_DB_NAME=concourse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
CONCOURSE_ADD_LOCAL_USER=admin:password102
CONCOURSE_MAIN_TEAM_LOCAL_USER=admin
CONCOURSE_WORKER_GARDEN_NETWORK=dev_tools
