RESTART_POLICY=always
CONCOURSE_PORT=8070
CONCOURSE_HOST=concourse.localhost
CONCOURSE_DB_NAME=concourse
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password102
CONCOURSE_ADD_LOCAL_USER=admin:password102
CONCOURSE_MAIN_TEAM_LOCAL_USER=admin
CONCOURSE_WORKER_GARDEN_NETWORK=infra_shared
CONCOURSE_CPUS_LIMIT=2
CONCOURSE_MEMORY_LIMIT=2G
CONCOURSE_CPUS_RESERVED=1
CONCOURSE_MEMORY_RESERVED=1G
