RESTART_POLICY=always
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password102
MINIO_BROWSER=on
MINIO_BROWSER_REDIRECT_URL=https://minio.localhost
MINIO_SERVER_URL=http://minio:9000
MINIO_BROWSER_TLS_SKIP_VERIFY=on
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_CPUS_LIMIT=0.5
MINIO_MEMORY_LIMIT=512M
MINIO_CPUS_RESERVED=0.1
MINIO_MEMORY_RESERVED=128M
