# Kafka Configuration
KAFKA_CPUS_LIMIT=1
KAFKA_MEMORY_LIMIT=1024M
KAFKA_CPUS_RESERVED=0.5
KAFKA_MEMORY_RESERVED=512M

# Kafka UI Configuration
KAFKA_UI_CPUS_LIMIT=0.5
KAFKA_UI_MEMORY_LIMIT=512M
KAFKA_UI_CPUS_RESERVED=0.25
KAFKA_UI_MEMORY_RESERVED=256M

# Kafka KRaft Mode
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# Restart Policy
RESTART_POLICY=always
