RESTART_POLICY=always
TZ=Asia/Ho_Chi_Minh

# Postgres 16 Configuration
POSTGRES16_USER=postgres
POSTGRES16_PASSWORD=password102
POSTGRES16_DB=postgres_db
POSTGRES16_PORT=5432

# Resource Limits
POSTGRES16_CPUS_LIMIT=0.5
POSTGRES16_MEMORY_LIMIT=512M
POSTGRES16_CPUS_RESERVED=0.1
POSTGRES16_MEMORY_RESERVED=128M
