RESTART_POLICY=always
TZ=Asia/Ho_Chi_Minh

# Postgres 18 Configuration
POSTGRES18_USER=postgres
POSTGRES18_PASSWORD=password102
POSTGRES18_DB=postgres_db
POSTGRES18_PORT=5433

# Resource Limits
POSTGRES18_CPUS_LIMIT=1
POSTGRES18_MEMORY_LIMIT=1G
POSTGRES18_CPUS_RESERVED=0.5
POSTGRES18_MEMORY_RESERVED=512M
