RESTART_POLICY=always
TZ=Asia/Ho_Chi_Minh

# Temporal Versions
TEMPORAL_VERSION=latest
TEMPORAL_UI_VERSION=latest

# Temporal Server Configuration
TEMPORAL_GRPC_PORT=7233
TEMPORAL_CPUS_LIMIT=1
TEMPORAL_MEMORY_LIMIT=1G
TEMPORAL_CPUS_RESERVED=0.5
TEMPORAL_MEMORY_RESERVED=512M

# Temporal UI Configuration
TEMPORAL_UI_PORT=8083
TEMPORAL_UI_CPUS_LIMIT=0.5
TEMPORAL_UI_MEMORY_LIMIT=512M
TEMPORAL_UI_CPUS_RESERVED=0.2
TEMPORAL_UI_MEMORY_RESERVED=256M

# Database Configuration (Postgres)
# Using internal container name and port
DB=postgres12
POSTGRES_USER=postgres
POSTGRES_PWD=password102
POSTGRES_SEEDS=postgres
